

@media screen and (min-width: 568px) {

.sidebar .sidebar-logo .img-large{
        display: block;
        padding: 0rem 1rem 0 0;
        width: 80%;
 }
.img-small{
    display: none;
}
.sidebar{
    width: 200px;
    flex-shrink: 0;
    background-color: rgb(0, 0, 0);
    font-size: 12px;
 }
 .sidebar-logo{
    margin-bottom: 1rem;
 }
 .sidebar .sidebar-home img{
    width: 13%;
    margin-right: 0.5rem;
 }
 .sidebar-home{
    padding-top: 0.5rem;
 }
 .none{
    color: grey;
 }
 .color-white{
    color: white;
 }
 .sidebar img{
    padding-bottom: 0rem;
 }
 .plus-icon{
    font-size: 40px;
 }
 h4.color-white{
    padding: 2rem 0 0.5rem 0;
 }
 .line-height{
    padding-left: 0.5rem;
 }
}