/*************************************************
    GENERAL STYLES
 *************************************************/
 *,
 *::before,
 *::after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     
 }
 body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
 }

 footer{
    height: 70px;
    flex-shrink: 0;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
 }
 .big-container{
    height: calc(100vh - 70px);
    flex-grow: 1;
    background-color: darkgrey;

 }
 .container{
    background-color: #141922;
    
 }
 
 .sidebar{
    width: 50px;
    flex-shrink: 0;
    background-color: rgb(0, 0, 0);
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
 }
 a{
    text-decoration: none;
 }
 ul{
    list-style: none;
 }
 img {
     max-width: 100%;
     display: block;
 }
 .upgrade-bar{
    height: 70px;
    flex-shrink: 0;
    background-color: #282828;
    padding-right: 0.5rem;
    display: flex;
    justify-content: end;
    align-items: center;
 }
 .upgrade{
    border-color: white;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    padding: 0.4rem 2.5rem;
 }
 .player-bar>*{
    font-size: 0.8rem;
 }
 
.player-center{
    font-size: 1.6rem;
}


.barra-volume{
    width: 8vw;
    display: inline-block;
    border-radius: 50px;
    background-color: grey;
}
.barra-player{
    flex-grow: 1;
}
.barra-player-in{
    background-color: rgb(126, 126, 126);
    height: 4px;
    width: 8vw;  
}
.barra-player-in-white{
    color: white;
    width: 25%;
    height: 4px;
    background-color: white;
    border-radius: 5px;
    margin: 0;
}

 /************************************************
     UTILITIES
  ************************************************/
 
 /* LAYOUT */
 
 .row {
     display: flex;
 }
 .wrap{
    flex-wrap: wrap;
 }
 .grow{
    flex-grow: 1;
 }
 .shrink{
    flex-shrink: 0;
 }
 .flex-bet {
     display: flex;
     justify-content:space-between;
 }
 .flex-center{
     display: flex;
     justify-content: center;
 }
 .flex-right{
     display: flex;
     justify-content: end;
 }
 .align-item-center{
    display: flex;
    align-items: center;
 }
 .flex-center-center{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .column{
    display: flex;
    flex-direction: column;
 }
 .self-center{
    align-self: center;
 }
 .sidebar .sidebar-logo .img-large{
    display: none;
 }
 
 .sidebar-logo{
    margin-bottom: 1rem;
 }
 .sidebar img{
    width: 60%;
    padding-bottom: 0.5rem;
 }
 img.img-small{
    width: 80%;
 }
.svg-opacity{
    opacity: 0.5;
}
     
.name-playlist{
    padding-top: 0.7rem;
    width: 100%;
}
.overflow{
    overflow: auto;
}
.overflow-hidden{
    overflow: hidden;
}
img.img-download{
    width: 30px;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
}
.radius50-profile{
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem 0.5rem 0;
}
.none{
    display: none;
}
footer div>*{
   margin: 0 3px;
}
.sinister{
    width: 40px;
}
 .in-evidenza{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(165, 165, 165);
    text-align: center;
    
 }
 .in-evidenza>*{
    padding-bottom: 2rem;
 }
 .in-evidenza h4 a{
    color: rgb(165, 165, 165);
 }
 .in-evidenza h4 a:hover{
    color: white;
 }
.hover-green-player{
    width: 100%;
    height: 4px;
    background-color: green;
    margin: 0;
    border-radius: 50px;
    position: relative;
    display: none;

}
.point-green{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: -5px;
    top: -3px;
}
.barra-player:hover .hover-green-player{
    display: block;
}
.barra-volume:hover .hover-green-player{
    display: block;
}

 /***** TEXT ******/
 
 .text-center {
     text-align: center;
 }
 .text-left{
     text-align: left;
 }
 .text-right{
     text-align: right;
 }
 /***** COLOR ******/
 
 .bc-white{
     background-color: white;
 }
 .color-white{
     color: white;
 }
 .color-grey{
    color: grey;
 }
 
 
 /****PADDING E MARGIN******/
 
 .padall05rem{
     padding: 0.5rem;
 }
 
 .padall1rem{
     padding: 1rem;
 }
 .pad05topbot{
     padding: 0.5rem 0;
 }
 .pad1topbot{
     padding: 1rem 0;
 }
 .pad2topbot{
     padding: 2rem 0;
 }
 .pad3topbot{
     padding: 3rem 0;
 }
 .pad1bot{
     padding-bottom: 1rem;
 }
 .pad2bot{
     padding-bottom: 2rem;
 }
 .pad3bot{
     padding-bottom: 3rem;
 }
 .pad03top{
    padding-top: 0.3rem;
 }
 .pad1top{
     padding-top: 1rem;
 }
 .pad2top{
     padding-top: 2rem;
 }
 .pad3top{
     padding-top: 3rem;
 }
 .pad1leftright{
     padding: 0 1rem;
 }
 .pad2leftright{
     padding: 0 2rem;
 }
 .pad3leftright{
     padding: 0 3rem;
 }
 .martop1{
     margin-top: 1rem;
 }
 .martop2{
     margin-top: 2rem;
 }
 .martop3{
     margin-top: 3rem;
 }
 .marbot1{
     margin-bottom: 1rem;
 }
 .marbot2{
     margin-bottom: 2rem;
 }
 .marbot3{
     margin-bottom: 3rem;
 }
 .martopbot1{
     margin: 1rem 0;
 }
 .martopbot2{
     margin: 2rem 0;
 }
 .martopbot3{
     margin: 3rem 0;
 }

 /******colonne*******/
 .col-100{
    flex-basis: 100%;
}
.col-50{
    flex-basis: 50%;
}
.col-1_3{
    flex-basis: calc(100% / 3);
}
.col-2_3{
    flex-basis: calc(100% / 3 * 2);
}
.col-1_4{
flex-basis: 25%;
}
.col-2_4{
     flex-basis: 50%;
}
.col-3_4{
     flex-basis: 75%;
}
.col-1_5{
     flex-basis: 20%;
}
.col-2_5{
     flex-basis: 40%;
}
.col-3_5{
     flex-basis: 60%;
}
.col-4_5{
     flex-basis: 80%;
}
.col-1_6{
   flex-basis: calc(100% / 6)
}
.card-img{
    position: relative;
}
.img-overlay{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: none;
    
    
}
.card:hover .img-overlay{
    display: flex;
    opacity: 0.6;
    transition: 0.3s;
}
.card:hover .card-img{
    opacity: 0.6;
    filter: blur(0.5px);
    transition: 0.3s;
}
.img-overlay i{
    color: white;
    font-size: 500%;
    align-self: center;
}

.sidebar a:hover{
    color: white;
}

.sidebar .sidebar-home a:hover{
    color: white;
}
.svg-opacity:hover{
    opacity: 1;
}
small a:hover{
    color: white;
}
span a:hover{
    color: white;
}
.player-center a i:hover{
    font-size: 1.8rem;
}

.mar1-5leftright{
    margin: 0 1.5rem;
}
.radius-50{
    border-radius: 50%;
    
}
.upgrade:hover{
    scale: 1.1;
    transition: 0.2s;
}
